.cart {
 padding: 50px;
}
.cart-inf {
  display: flex;
  justify-content: space-between;
  
}

.product-img img{
  width: 100px;
  height: 100px;
}

.cart-wtapper {
  background-color: #F7F4F2;
}

.product-inf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100px;
}