.section-header {
  background-image: url('../../../public/Pictures/MainBackground.png');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.section-header-inf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-header-inf h1 {
font-weight: 400;
font-size: 150px;
line-height: 190px;
color: #F7F4F2;
text-align: center;
}

.section-header-inf button {
width: 149px;
height: 56px;
margin-top: 64px;
background: #F7F4F2;
border: none;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #1E1E1E;
}