.logo{
  align-items: center;
  width: 91px;
  height: 48px;
  left: 0px;
  top: 1px;
  color: #1E1E1E;
  font-weight: 700;
}


.wrapper-header {
  padding: 20px 130px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.btns {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #1E1E1E;
}

.footer-inf {
  padding: 50px 70px;
}

.footer-inf p{
  color: #F7F4F2;
}